name: Nuitka-pack

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:

  build:
    # Windows is currently the only platform this action supports
    runs-on: windows-latest

    steps:

      # Check-out repository
      - uses: actions/checkout@v4

      # Setup Python
      - uses: actions/setup-python@v5
        with:
          python-version: '3.8.x' # Version range or exact version of a Python version to use, using SemVer's version range syntax
          architecture: 'x64' # optional x64 or x86. Defaults to x64 if not specified
          cache: 'pip'
      - run: pip install -r requirements.txt

      # Build python script into exe
      - uses: Nuitka/Nuitka-Action@main
        with:
          nuitka-version: main
          script-name: start.py
          follow-imports: true
          standalone: true
          onefile: false
          include-data-dir: res=res 
          include-data-files: res/frpc.exe=build/start.dist/frpc.exe
          enable-plugins: tk-inter

      # Uploads artifact
      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: XCL II-Alpha
          path: build/start.dist/
          compression-level: 0